# environment files
*.env*
!*.env*.example

# latex build artifacts
output/*
!output/.gitkeep
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# editor and OS noise
.DS_Store
